body {
	font-family: Verdana, 'DejaVu Sans', sans-serif;
	font-size: 12pt;
	line-height: 150%;
}

.container {
	width: 900px;
	margin: 0 auto;
	margin-top: 40px;
}

.highlight {
	padding: 5px 25px 5px 25px;
	background: #555;
	color: yellow;
	opacity: 0.7;
	margin-bottom: 20px;
}

#outer {
	position: relative;
	height: 450px;
}

.overlay {
	position: absolute;
}

.grid-line {
    fill: none;
    stroke: #555;
    stroke-width: 1;
}

.circle {
    fill: #777;
    stroke: black;
    stroke-width: 2;
	opacity: 0.9;
	cursor: pointer;
}

.left-col {
	float: left;
	width: 440px;
}

.right-col {
	float: right;
	width: 440px;
}

.clear {
	clear: both;
}

.hide {
    display: none;
}